/* Selector {
    Property: Value;
} */
body {
    background-image: url(https://images.unsplash.com/photo-1701079169931-efac6c6847ce?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
}
h2 {
    color: red;
    cursor: pointer;
}

p {
    color: pink;
}

p { 
    color: aqua;
}

li {
    list-style-type: none;
    display: inline-block;
}